@{
    Layout = "~/Views/Shared/_Layout_Design.cshtml";
}
<div class="container">
    <h1> Contact </h1>
</div>

@section TitleBar
{
    <li> <a href="https://localhost:44374/Home"> Home </a> </li>
    <li> <a href="https://localhost:44374/Overview"> Overview </a> </li>
    <li> <a href="https://localhost:44374/Portfolio"> Portfolio </a> </li>
    <li> <a href="https://localhost:44374/Contributions"> Contributions </a> </li>
    <li> <a href="https://localhost:44374/About"> About </a> </li>
    <li class="current"> <a href="https://localhost:44374/Contact"> Contact </a> </li>
}

@section DisplayBackground
{
    <section id="contact-background">

        <div class="container">

            <div class="form">
                <h2> CONTACT </h2>

                <div class="textbox">
                    <input type="text" placeholder="Username" name="" value="">
                </div>

                <div class="textbox">
                    <input type="text" placeholder="Email" name="" value="">
                </div>

                <div class="textbox">
                    <input type="text" placeholder="Subject" name="" value="">
                </div>

                <div class="Messagebox">
                    <textarea placeholder="Enter Your Message" rows="10" cols="30"></textarea>
                </div>

                <div>
                    <input class="btn" type="button" name="" value="Send Message">
                </div>
            </div>

        </div>
    </section>
}