@{
    Layout = "~/Views/Shared/_Layout_Design.cshtml";
}
<div class="container">
    <h1> Contact </h1>
</div>

@section TitleBar
{
    <li> <a href="https://localhost:44374/Home"> Home </a> </li>
    <li> <a href="https://localhost:44374/Overview"> Overview </a> </li>
    <li> <a href="https://localhost:44374/Portfolio"> Portfolio </a> </li>
    <li> <a href="https://localhost:44374/Contributions"> Contributions </a> </li>
    <li> <a href="https://localhost:44374/About"> About </a> </li>
    <li class="current"> <a href="https://localhost:44374/Contact"> Contact </a> </li>
}

@section DisplayBackground
{
    <section id="showcase">

        <div class="container">

            <div class="form">
                <h1> Contact Me </h1>

                <div class="textbox">
                    <input type="text" placeholder="Username" name="" value="">
                </div>

                <div class="textbox">
                    <input type="text" placeholder="Email" name="" value="">
                </div>

                <div class="textbox">
                    <input type="text" placeholder="Type Your Message" name="" value="">
                </div>

                <input class="btn" type="button" name="" value="Send Message">
            </div>

        </div>
    </section>
}