<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Tashik Moin's Portfolio">
    <title> @ViewBag.Title  </title>
    <link rel="stylesheet" href="~/CSS/Style.css">
    <link rel="icon" href="~/Img/Icon.png">
</head>

<body>

    <header class="head">
        <div class="container">
            <div id="branding">
                <h1> <img src="~/Img/TM.png" width="27" height="27" alt="Logo"> <span class="highlight">             Portfolio </span> Website </h1>
            </div>
            <nav>
                <ul>
                    @RenderSection("TitleBar", required: true)
                </ul>
            </nav>
        </div>
    </header>



    @if (IsSectionDefined("DisplayBackground"))
    {
        @RenderSection("DisplayBackground", required: true);
    }

    <section id="boxes-x">
        @RenderSection("Experience", required: false);
    </section>




    <section id="boxes">

        <div class="container">
            <div class="box">
                <a href="https://github.com/TashikMoin23">
                    <img src="~/Img/GitHub.png" alt="GitHub">
                    <h2> GitHub </h2>
                </a>
            </div>
            <div class="box">
                <a href="https://www.linkedin.com/in/tashik-moin-sheikh-08872116b/">
                    <img src="~/Img/LinkedIn.png" alt="LinkedIn">
                    <h2> LinkedIn </h2>
                </a>
            </div>
            <div class="box">
                <a href="https://www.facebook.com/TashikMoinSheikh">
                    <img src="~/Img/Facebook.png" alt="Facebook">
                    <h2> Facebook </h2>
                </a>
            </div>

            <div class="box">
                <a href="https://www.instagram.com/tashikmoinshaikh/">
                    <img src="~/Img/Instagram.png" alt="Instagram">
                    <h2> Instagram </h2>
                </a>
            </div>

            <div class="box">
                <a href="https://www.youtube.com/channel/UC_bxQjn16KukkyWqTY_MZvg?view_as=subscriber">
                    <img src="~/Img/YouTube.png" alt="YouTube">
                    <h2> YouTube </h2>
                </a>
            </div>

            <div class="box">
                <a href="https://twitter.com/TashikMSheikh">
                    <img src="~/Img/Twitter.png" alt="Twitter">
                    <h2> Twitter </h2>
                </a>
            </div>

            <div class="box">
                <a href="https://www.snapchat.com/add/tashikmoin23">
                    <img src="~/Img/SnapChat.png" alt="SnapChat">
                    <h2> SnapChat </h2>
                </a>
            </div>

            <div class="box">
                <a href="https://stackoverflow.com/users/10570636/tashik-moin-sheikh">
                    <img src="~/Img/StackOverflow.png" alt="StackOverflow">
                    <h2> StackOverflow </h2>
                </a>
            </div>
        </div>

    </section>

    <footer> Copyright &copy; 2020 Tashik Moin </footer>


    <script src="~/JavaScript/script.js"></script>
    <script src="~/JavaScript/NavbarOnScroll.js"></script>
    <script src="~/JavaScript/Write-Erase-Write-Text.js"></script>>
    <script src="~/JavaScript/BackgroundSlider.js"></script>
    <script src="~/JavaScript/BackgroundSlider-contact.js"></script>
</body>

</html>


