@{
    Layout = "~/Views/Shared/_Layout_Design.cshtml";
}


@section TitleBar
{

    <li> <a href="https://localhost:44374/Home"> Home </a> </li>
    <li class="current"> <a href="https://localhost:44374/Overview"> Overview </a> </li>
    <li> <a href="https://localhost:44374/Portfolio"> Portfolio </a> </li>
    <li> <a href="https://localhost:44374/Contributions"> Contributions </a> </li>
    <li> <a href="https://localhost:44374/About"> About </a> </li>
    <li> <a href="https://localhost:44374/Contact"> Contact </a> </li>
}

@section DisplayBackground
{
    <section id="showcase-overview">
        <div class="slidershow">

            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">
                <input type="radio" name="r" id="r5">
                <div class="slide s1">
                    <img src="~/Img/Home-background-1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="~/Img/Home-background-2.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="~/Img/Home-background-3.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="~/Img/Home-background-4.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="~/Img/Home-background-5.jpg" alt="">
                </div>
            </div>

            <div class="navigation">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
                <label for="r4" class="bar"></label>
                <label for="r5" class="bar"></label>
            </div>


        </div>
    </section>
}
