@{
    Layout = "~/Views/Shared/_Layout_Design.cshtml";
}


@section TitleBar
{

    <li> <a href="https://localhost:44374/Home"> Home </a> </li>
    <li class="current"> <a href="https://localhost:44374/Overview"> Overview </a> </li>
    <li> <a href="https://localhost:44374/Portfolio"> Portfolio </a> </li>
    <li> <a href="https://localhost:44374/Contributions"> Contributions </a> </li>
    <li> <a href="https://localhost:44374/About"> About </a> </li>
    <li> <a href="https://localhost:44374/Contact"> Contact </a> </li>
}

@section DisplayBackground
{
    <section id="showcase-overview">
        <div id="arrow-left" class="arrow"></div>
        <div id="slider">
            <div class="slide slide1">
                <div class="slide-content">
                    <span>Image One</span>
                </div>
            </div>
            <div class="slide slide2">
                <div class="slide-content">
                    <span>Image Two</span>
                </div>
            </div>
            <div class="slide slide3">
                <div class="slide-content">
                    <span>Image Three</span>
                </div>
            </div>
        </div>
        <div id="arrow-right" class="arrow"></div>
    </section>
}
