@{
    Layout = "~/Views/Shared/_Layout_Design.cshtml";
}
<div class="container">
    <h1> Contributions </h1>
</div>

@section TitleBar
{
    <li> <a href="https://localhost:44374/Home"> Home </a> </li>
    <li> <a href="https://localhost:44374/Overview"> Overview </a> </li>
    <li> <a href="https://localhost:44374/Portfolio"> Portfolio </a> </li>
    <li class="current"> <a href="https://localhost:44374/Contributions"> Contributions </a> </li>
    <li> <a href="https://localhost:44374/About"> About </a> </li>
    <li> <a href="https://localhost:44374/Contact"> Contact </a> </li>
}



@section DisplayBackground
{
    <section id="showcase-contributions">
        <h1> Hello World</h1>
        <h1> Hello World</h1>
        <h1> Hello World</h1>
        <h1> Hello World</h1>

    </section>
}