@{
    Layout = "~/Views/Shared/_Layout_Design.cshtml";
}

@section DisplayBackground
{
    <section id="showcase-home">

        <div class="container">
            <h1> </h1>
            <h1> Welcome To My Website </h1>
            <h1> <img src="~/Img/MyProfilePicture.jpg" alt=""> </h1>
        </div>

        <div>
            <h3 class="introduction"> Tashik Moin. </h3>
            <h3 class="introduction">
                <span class="txt-type" data-wait="3000" data-words='["Computer Science Student At FAST-NUCES.","Microsoft Technology Associate.","Cloud Analyst At PlugCloud, INC.","Student Ambassador At Microsoft."]'>

                </span>
            </h3>

        </div>
    </section>
}


@section TitleBar
{
    <li class="current"> <a href="https://localhost:44374/Home"> Home </a> </li>
    <li> <a href="https://localhost:44374/Overview"> Overview </a> </li>
    <li> <a href="https://localhost:44374/Portfolio"> Portfolio </a> </li>
    <li> <a href="https://localhost:44374/Contributions"> Contributions </a> </li>
    <li> <a href="https://localhost:44374/About"> About </a> </li>
    <li> <a href="https://localhost:44374/Contact"> Contact </a> </li>
}

@section HomeSlider
{
    <script src="~/JavaScript/BackgroundSlider.js"></script>
}