body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#showcase .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(20, 20, 20);
    color: gray;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 40px;
    border-bottom: sienna 2px solid;
    border-top: black 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

header li {
    display: inline;
    padding: 0 13px 0 13px;
    margin-right: 0px;
    margin-left: 3px;
}

header #branding {
    float: left;
    margin-top: 0px;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 11px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

header .highlight,
header .current a {
    color: coral;
    font-weight: bold;
    margin-top: 5px;
}

header a:hover {
    color: sienna;
    font-weight: bold;
}

#showcase {
    background: url('../img/workspace_1.jpg') no-repeat -180px -50px;
    color: wheat;
    object-fit: contain;
    padding-top: 13%;
    padding-bottom: 7%;
    background-position: center;
    background-size: 150vmax;
    border-bottom: grey 1px solid;
}

#showcase img {
    border-radius: 50%;
    width: 20%;
    height: 10%;
    box-shadow: 8px 8px 5px black;
}

#showcase img:hover {
    width: 21%;
    height: 12%;
}

#showcase h1 {
    font-size: 65px;
    color: whitesmoke;
    text-align: center;
    padding-top: 0%;
    margin-top: 0%;
    text-shadow: 4px 4px 7px black;
}

#showcase p {
    text-align: left;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
    color: snow;
}

#boxes {
    background-color: black;
}

#boxes .container {
    display: flex;
    justify-content: center;
}

#boxes h2 {
    color: gray;
    font-size: 75%;
    text-align: center;
}

#boxes h2:hover {
    color: tan;
    transform: scale(1.5);
    text-align: center;
    transition: 0.5s;
}

#boxes a {
    color: transparent;
}

#boxes .container .box {
    margin: 15px;
}

#boxes .container .box img {
    height: 100px;
    width: 100px;
    transition: 0.5s;
}

.container .box:hover {
    transform: scale(1.5);
}

.boxe {
    margin: 10px;
}

.boxe img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    transition: 0.5s;
}

footer {
    padding: 0.5%;
    margin-top: 0%;
    color: orange;
    background-color: black;
    text-align: center;
    border-top: grey 1px solid;
    border-bottom: grey 1px solid;
}