
body 
{
    font-family: Candara, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container 
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2 
{
    margin: 0.4rem;
    text-transform: uppercase;
}



.head 
{
    background-color: #222222;
}


ul 
{
    margin: 0;
    padding: 0;
}

header 
{
    background: rgb(20, 20, 20);
    background-color: #1F1F1F;
    color: gray;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 40px;
    border-bottom: grey 2px solid;
    border-top: #222222 3px solid;
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    margin:0%;
}



header a 
{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

header li 
{
    display: inline;
    padding: 0 13px 0 13px;
    margin-right: 0px;
    margin-left: 3px;
}

header #branding 
{
    float: left;
    margin-top: 0px;
    padding-top:1px;
}

header #branding h1 
{
    font-weight: 200;
    margin: 0.4rem;
    color: whitesmoke;
}

#branding h1
{
    padding-top:0%;
    margin-top:0%;
}

.txt-type,.txt-type-1
{
    color: whitesmoke;
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-shadow: 400px 400px 400px black;
    padding-top: 0%;
    font-weight: bolder;
}

.txt-type
{
    font-size:2em;
}

.txt-type > .txt , .txt-type1 > .txt
{
    border-right: 0.1em solid whitesmoke;
    padding-right:10px;
}

@media screen and (min-width: 500px) 
{
    .txt-type
    {
        font-size: 1.3em;
        padding-top:70px;
    }
    .txt-type-1 
    {
        font-size: 1em;
    }

}






.controls
{
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 0.7em;
    padding-top:0.5em;
    margin: 8px 0;
    color: whitesmoke;
}



.controls input, .controls textarea
{
    background: none;
    outline: none;
    font-size: 90%;
    color: whitesmoke;
    width:90%;
    border: 8px;
    border-color: transparent;
    border-bottom-color: black;
    border-style: solid;
    resize: none;
    font-weight: 700;
    transition: 0.4s;
    height:60px;
}

.controls input:hover, .controls textarea:hover
{
    background-color:#656565;
    border-bottom-color:#656565;
}

.controls input:hover 
{
    border-color: transparent;
    border-bottom-color: black;
    border-style: solid;
}

.controls textarea
{
    border:1px grey;
    border-style:solid;
    border-color:black;
    padding-top:2px;
    padding-left:3px;
    width:95%;
    height:30%;
}

.container-contact 
{
    width: 100%;
    margin-top: 0em;
    overflow: hidden;
    padding-top: 0em;
}


.controls .button 
{
    transition: 0.8s;
    border: 2px solid;
    border-color: black;
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
    padding: 4%;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    display: table;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 0.6em;
    padding: 1em 1.8em;
    padding-left: 1.5em;
    top: 50%;
    left: 50%;
    text-align-last:center;
}


.button:hover 
{
    transition: 0.8s;
    background-color: crimson;
    color: black;
}

::placeholder 
{
    color: whitesmoke;
    opacity: 1;
    font-weight: 700;
}



.form 
{
    width: 35%;
    height:10%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: none;
    background-color: transparent;
    margin: 0 auto;
    margin-top:8em;
    margin-bottom:1em;
    box-shadow: 3px 3px 10px black;
    position:center;
    padding-left:1em;
    padding-right:1em;
    padding-bottom:1em;
}

.form h2 
{
    margin:0%;
    font-family: Rockwell;
    font-size: 1.5em;
    font-weight:900;
    padding:1em;
    padding-top:1.8em;
    color:whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}





header nav 
{
    float: right;
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

header .highlight,
header .current a 
{
    color: #9E9E9E;
    font-weight: 900;
    margin-top: 5px;
}

header a:hover 
{
    color: gray;
    font-weight: bold;
}

#showcase, #showcase-overview, #showcase-portfolio, #showcase-about, #showcase-contributions, #showcase-contact 
{
    color: wheat;
    object-fit: contain;
    margin: 0%;
    padding-top: 17%;
    padding-bottom: 10%;
    background-position: center;
    background-size: 150vmax;
    border-bottom: grey 1px solid;
    background-repeat: no-repeat;
    background-size: cover;
}

#showcase-contact 
{
    padding-top: 5%;
    padding-bottom: 6%;
    background-image: url('../img/home-background-4.jpg');
}



#showcase img 
{
    border-radius: 70%;
    width: 23%;
    height: 7%;
    box-shadow: 2px 2px 3px black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    padding-bottom:0px;
}

#showcase img:hover 
{
    width: 24%;
    height: 9%;
}

#showcase h1 
{
    font-size: 3em;
    color: whitesmoke;
    text-align: center;
    padding-top: 0%;
    margin-top: 0%;
    text-shadow: 4px 4px 7px black;
}


#showcase p 
{
    text-align: left;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
    color: snow;
}

#showcase-overview 
{
    color: whitesmoke;
    object-fit: contain;
    padding-top: 0%;
    padding-bottom: 0%;
    background-position: center;
    background-size: 150vmax;
    background-color:#202020;
    border-bottom: grey 1px solid;
    transition: 0.3s;
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showcase-overview h1 
{
    font-size: 65px;
    color: whitesmoke;
    text-align: center;
    padding-top: 0%;
    margin-top: 0%;
    text-shadow: 4px 4px 7px black;
}

#showcase-overview p 
{
    text-align: left;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
    color: snow;
}


.introduction 
{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-shadow: 400px 400px 400px black;
    font-weight: bold;
    padding-top:0px;
    font-size:2vw;
}




#boxes 
{
    background-color: #202020;
}



#boxes .container 
{
    display: flex;
    justify-content: center;
}

#boxes h2 
{
    color: gray;
    font-size: 75%;
    text-align: center;
}

#boxes h2:hover 
{
    color: whitesmoke;
    transform: scale(1.5);
    text-align: center;
    transition: 0.5s;
}

#boxes a 
{
    color: transparent;
}

#boxes .container .box 
{
    margin: 15px;
}

#boxes .container .box img 
{
    height: 100px;
    width: 100px;
    transition: 0.5s;
}

.box 
{
    margin: 0px;
}

#boxes .box p 
{
    font-size: large;
    font-family: Candara, sans-serif;
}

.box img 
{
    width: 150px;
    height: 150px;
    border-radius: 0%;
    transition: 0.5s;
}

.box:hover 
{
    transform: scale(1.5);
}

.container .box:hover 
{
    transform: scale(1.5);
}

.boxe 
{
    margin: 10px;
}

.boxe img 
{
    width: 120px;
    height: 120px;
    object-fit: contain;
    transition: 0.5s;
}


#boxes-x 
{
    background-color: #1F1F1F;
}

#boxes-x .container 
{
    display: flex;
    justify-content: center;
    
}

#boxes-x .box 
{
    color: white;
}

footer 
{
    padding: 0.5%;
    margin-top: 0%;
    color: whitesmoke;
    background-color: #202020;
    text-align: center;
    border-top: #202020 1px solid;
    border-bottom: #202020 1px solid;
}

/* overview slider*/



#slider,
.slide-content 
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.wrap 
{
    position: relative;
}

.slide 
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 
{
    background-image: url("https://static.pexels.com/photos/302889/pexels-photo-302889.jpeg");
}

.slide2 
{
    background-image: url("https://static.pexels.com/photos/302892/pexels-photo-302892.jpeg");
}

.slide3 
{
    background-image: url("https://static.pexels.com/photos/226633/pexels-photo-226633.jpeg");
}

.slide-content 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span 
{
    font-size: 5rem;
    color: #fff;
}

.arrow 
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left 
{
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right 
{
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}
